{% extends 'base.html.twig' %}

{% block title %}Ladder{% endblock %}

{% block body %}

<div class="whitepad">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        {% for ranking in season.rankings|sort((a,b) => b.points - a.points) %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href="todo">
                    {{ ranking.owner.username }}
                </a>
            </td>
            <td>{{ ranking.points }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

