{% extends 'base.html.twig' %}

{% block title %}Ladder{% endblock %}

{% block body %}
{{ dump(season) }}

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Player</th>
        <th>Points</th>
    </tr>
    </thead>
    <tbody>
    {% for ranking in season.rankings|sort((a,b) => b.points - a.points) %}
    <tr>
        <td><pre>{{ ranking }}</pre></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
