{% extends 'base.html.twig' %}

{% block body %}

<div class="current-season">
    {% if season is null %}
        We're currently in off-season.
    {% else %}
        <strong>{{ season.name }}</strong>
        ending {{ season.ending | countdown('days', 'in') }}
    {% endif %}
</div>

<img src="/img/artwork/chess.png" class="home">

{% endblock %}
