body, html {
  background: url('/img/checker_dark.png') repeat;
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #2e2e2e;
  padding: .2rem 0;
}
.top-bar .container {
  display: flex;
  justify-content: space-between;
}

.top-bar input,
.top-bar button,
.top-bar input[type=submit],
.top-bar input[type=button] {
  text-align: center;
  font-size: .8rem;
}

.top-bar input {
  padding: .2rem;
}
.top-bar button,
.top-bar input[type=submit],
.top-bar input[type=button] {
  padding: .05rem .2rem;
}

.uber {
  margin: 0 auto;
  margin-left: 25%;
  height: 12rem;
}

.uber h1 {
  position: relative;
  color: #000;
  font-size: 5rem;
}
div.uber h1 .worm,
div.uber h1 .worms,
div.uber h1 .league {
  position: absolute;
}

div.uber h1 .worm {
  top: 6rem;
  left: 22.1rem;
}

div.uber h1 .league {
  top: 3.5rem;
  left: 5rem;
}

div.uber h1 .worms .first-letter,
div.uber h1 .league .first-letter {
  font-size: 7rem;
  text-shadow:
      -.3rem -.3rem .25rem #60b6c7,
      -.3rem .3rem .25rem #60b6c7,
      .3rem -.3rem .25rem #60b6c7,
      .3rem .3rem .25rem #60b6c7;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.content {
  margin-top: -2.3rem;
}

nav.nav {
  display: flex;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

nav.nav .nav-item {
  flex-grow: 1;
  text-align: center;
  background: linear-gradient(#153940 30%, #348b9d);
  padding: .5rem;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #000;
  border-left: none;
  color: #fff;
  text-decoration: none;
}

nav.nav .nav-item:first-child {
  border-left: 1px solid #000;
}

nav.nav .nav-item:hover {
  background: linear-gradient(#fff, #46acc1);
  color: #1f3f5e;
}

nav.nav .nav-item:active {
  box-shadow: inset 0.1rem 0.1rem 0.5rem 0rem #000;
}

.head {
  border: 1px solid #000;
  border-top: 2px solid #316396;
  background-color: #1f3f5e;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: .5rem 0;
  font-size: 1.2rem;
}

.page {
  border: 1px solid #000;
  background: rgba(220, 220, 220, .85);
  padding: 1.2rem;
  margin-bottom: 2.5rem;
}

button,
input[type=submit],
input[type=button] {
  background-color: #086071;
  border-style: outset;
  border-color: #086071;
  border-width: .3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  padding: .2rem .5rem;
}

button:active,
input[type=submit]:active,
input[type=button]:active {
  border-style: inset;
}

input, textarea {
  background-color: #ececec;
  border: 1px #ececec inset;
  font-size: 1rem;
  padding: .3rem;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0rem 0rem .2rem .1rem #60b6c7;
}

