{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="alert danger">
    Only upload replays that account to the end result of the game
    as it is automatically derived from them.
</div>

<div {{ stimulus_controller('report') }}>
    <form action="{{ path('app_report') }}" method="POST">
        <input type="file"
               data-report-target="fileInput"
               {{ stimulus_action('report', 'listFiles', 'change') }}
               multiple>
        <button type="submit">
            Report
        </button>
    </form>
    <ul data-report-target="files">
    </ul>
</div>
{% endblock %}

