{% extends 'base.html.twig' %}
{% block title %}Ladder{% endblock %}
{% block body %}
    {# TODO Tabbed view ladder vs games #}
    <ul class="tabs">
        <li class="{{ tab == 'ladder' ? 'active' : '' }}">
            <a href="?tab=ladder">
                Ladder
            </a>
        </li>
        <li class="{{ tab == 'matches' ? 'active' : '' }}">
            <a href="?tab=matches">
                Matches
            </a>
        </li>
    </ul>
    {% if tab == 'ladder' %}
        {{ render(controller(
            'App\\Controller\\LadderController::view', {seasonId: seasonId}
        )) }}
    {% else %}
        {{ render(controller(
            'App\\Controller\\MatchController::matches', {seasonId: seasonId}
        )) }}
    {% endif %}
{% endblock %}

