:root {
    --primary: #60b6c7;
    --secondary: #086071;
    --tertiary: #1f3f5e;
    --dark: #2e2e2e;
    --gray: #d1d1d1;
    --light: #ececec;
    --warn: #7d5f1e;
    --error: #5b2f3f;

    --wa-green: #80FF80;
    --wa-blue: #9D9FFF;
    --wa-red: #FF7F7F;
    --wa-yellow: #FFFF80;
    --wa-cyan: #80FFFF;
    --wa-magenta: #FF82FF;
}

.text-primary {
    color: var(--primary);
}

body, html {
    background: url('/public/img/checker_dark.png') repeat;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: var(--dark);
    padding: .2rem 0;
}

.top-bar .container {
    display: flex;
    justify-content: flex-end;
}

.top-bar input,
.top-bar button,
.top-bar input[type=submit],
.top-bar input[type=button] {
    text-align: center;
    font-size: .8rem;
}

.top-bar input {
    padding: .2rem;
}

.top-bar button,
.top-bar input[type=submit],
.top-bar input[type=button] {
    padding: .05rem .2rem;
}

.uber {
    margin: 0 auto;
    margin-left: 25%;
    height: 12rem;
}

.uber h1 {
    position: relative;
    color: #000;
    font-size: 5rem;
    letter-spacing: .2rem;
}

.uber h1 a {
    color: inherit;
}

.uber h1 a:active {
    color: inherit;
}

div.uber h1 .worm,
div.uber h1 .worms,
div.uber h1 .league {
    position: absolute;
}

div.uber h1 .worm {
    top: 6rem;
    left: 23.1rem;
}

div.uber h1 .league {
    top: 3.5rem;
    left: 5rem;
}

div.uber h1 .worms .first-letter,
div.uber h1 .league .first-letter {
    font-size: 7rem;
    text-shadow:
      -.3rem -.3rem .25rem var(--primary),
      -.3rem .3rem .25rem var(--primary),
      .3rem -.3rem .25rem var(--primary),
      .3rem .3rem .25rem var(--primary);
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.content {
    margin-top: -2.3rem;
}

nav.nav {
    display: flex;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

nav.nav .nav-item {
    flex-grow: 1;
    text-align: center;
    background: linear-gradient(#153940 30%, #348b9d);
    padding: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid #000;
    border-left: none;
    color: #fff;
    text-decoration: none;
}

nav.nav .nav-item:first-child {
    border-left: 1px solid #000;
}

nav.nav .nav-item:hover {
    background: linear-gradient(#fff, #46acc1);
    color: #1f3f5e;
}

nav.nav .nav-item:active,
nav.nav .nav-item.active {
    box-shadow: inset 0.1rem 0.1rem 0.5rem 0rem #000;
}

.head {
    border: 1px solid #000;
    border-top: 2px solid #316396;
    background-color: var(--tertiary);
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: .5rem 0;
    font-size: 1.2rem;
    margin: -1.2rem;
    margin-bottom: 1.2rem;
}

.page {
    border: 1px solid #000;
    background: rgba(220, 220, 220, .85);
    padding: 1.2rem;
    margin-bottom: 2.5rem;
}

button,
input[type=submit],
input[type=button] {
    background-color: var(--secondary);
    border-style: outset;
    border-color: var(--secondary);
    border-width: .3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding: .2rem .5rem;
}

button:active,
input[type=submit]:active,
input[type=button]:active {
    border-style: inset;
}

select, input, textarea {
    background-color: #ececec;
    border: 1px #ececec inset;
    font-size: 1rem;
    padding: .3rem;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0rem 0rem .2rem .1rem var(--primary);
}

a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
}

a:hover {
    color: var(--tertiary);
}

a:active {
    color: #05404b;
}

form .control {
    padding: .4rem 0;
}

form .control label {
    display: block;
    color: var(--tertiary);
}

p.lead {
    color: var(--tertiary);
    padding: 1rem 0;
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}

.popup {
    display: none;
    position: absolute;
}

.popup.show {
    display: block;
}

ul {
    list-style: none;
    margin: 1rem 1rem;
}

ul li {
    padding: .1rem;
}

ul li::before {
    content: "\25a0";
    color: var(--tertiary);
    font-weight: bold;
    display: inline-block;
    width: 1.3em;
}

.monospace {
    font-family: monospace;
}

.small {
    font-size: .6rem;
}

.alert {
    border: .2rem solid var(--light);
    padding: .8rem;
    margin: 1rem 0;
    color: var(--light);
}

.alert.warn {
    background-color: var(--warn);
}

.alert.error {
    background-color: var(--error);
}

table thead tr {
    background-color: var(--tertiary);
    border-top: .18rem solid #2e5e8f;
    color: var(--light);
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    background-color: var(--gray);
}

table tbody tr:nth-child(even) {
    background-color: #a9a9a9;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 4rem;
}

table tr {
    border: 1px solid black;
}

table, tr, td, th {
    padding: .2rem .4rem;
    text-align: center;
}

table, tr, th {
    padding: .5rem .4rem;
}

table th img,
table td img {
    height: 1rem;
}

.whitepad {
    padding: .3rem;
    background-color: var(--light);
}

i.icon {
    font-style: normal;
}

i.replay {
    font-size: 1.2rem;
    font-weight: bold;
}

i.replay:before {
    content: "\2622";
}

i.comment {
    font-size: 1.2rem; font-weight: bold;
}

i.comment:before {
    content: "";
    display: block;
    position: relative;
    height: .7rem;
    width: .9rem;
    border: .1rem solid white;
    border-radius: .7rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

i.comment:after {
    content: "";
    display: block;
    position: relative;
    border: .1rem solid white;
    width: .02rem;
    height: .02rem;
    background-color: var(--light);
    left: .3rem;
    top: -.01rem;
    border-bottom-right-radius: .7rem;
    border-bottom-left-radius: .1rem;
}

.gear-wrapper {
    position: relative;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.gear-wrapper:hover,
.gear-wrapper:focus,
button.gear-wrapper:focus {
    animation: rotation 1.5s infinite linear;
    box-shadow: none;
}

.gear-wrapper::after {
    content: "";
    display: inline-block;
    position: relative;
    height: .9rem;
    width: .9rem;
    background-color: var(--dark);
    border: .2rem solid var(--primary);
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0 .2rem;
    left: -0.13rem;
}

i.icon.gear {
    position: absolute;
    left: -0.15rem;
}

i.icon.gear::before,
i.icon.gear::after {
    content: "+";
    display: inline-block;
    position: absolute;
    font-size: 2.4rem;
    left: -.05rem;
    top: -.9rem;
}

i.icon.gear::after {
    transform: rotate(45deg);
}

button.void {
    background: transparent;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.dropdown-wrapper {
    position: relative;
}

.dropdown {
    position: absolute;
    background: #fff;
    top: 1.6rem;
    right: 0;
    display: none;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 0.5rem 0.5rem 2rem var(--dark);
}

.dropdown::before {
    content: "";
    position: absolute;
    display: block;
    border: .5rem transparent solid;
    border-bottom-color: white;
    top: -1rem;
    right: 0rem;
    height: 0;
    width: 0;
}

.dropdown a {
    display: block;
    border-bottom: 1px solid var(--light);
    padding: .5rem 1.5rem;
}

.dropdown a:hover {
    background-color: var(--secondary);
    color: var(--light);
    text-decoration: none;
    border-bottom-color: var(--secondary);
}

.dropdown.active {
    display: block;
}

a.texture {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: .5rem;
}

a.texture > img {
    vertical-align: middle;
    transform: scale(1.1);
}

table.matches td {
    white-space: nowrap;
}

table.matches img {
    height: 2rem;
}

table.matches .processing {
    border-radius: .2rem;
    width: 3.6rem;
    height: 1.9rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

table.matches .processing > img {
    vertical-align: middle;
    transform: scale(1.2) translateX(-.4rem);
}

.letter-spacing-compressed {
    letter-spacing: -.05rem;
}

div.color-badge {
    display: inline-block;
    height: 2rem;
    width: 1.2rem;
    vertical-align: top;
    border-radius: 0.2rem;
    border: 1px solid gray;
}

div.color-badge.green {
    background-color: var(--wa-green);
}

div.color-badge.blue {
    background-color: var(--wa-blue);
}

div.color-badge.red {
    background-color: var(--wa-red);
}

div.color-badge.yellow {
    background-color: var(--wa-yellow);
}

div.color-badge.cyan {
    background-color: var(--wa-cyan);
}

div.color-badge.magenta {
    background-color: var(--wa-magenta);
}

div.color-badge {
    background-color: var(--light);
}

.text-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.w100 {
    width: 100%;
}

.recent {
    display: inline-block;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    background-color: var(--dark);
}

.recent.lost {
    background-color: red;
}

.recent.won {
    background-color: green;
}

.nowrap {
    white-space: nowrap;
}

table.ladder th {
    font-size: .8rem;
    padding-left: 0;
    padding-right: 0;
}

table.ladder td {
    white-space: nowrap;
    font-family: monospace;
}

table.ladder td:nth-child(2),
table.ladder td:last-child {
    font-family: inherit;
}

table.ladder td:last-child {
    letter-spacing: -.2rem;
}

table.ladder td,
table.ladder th {
    padding-left: .2rem;
    padding-right: .2rem;
}

table.ladder td:first-child,
table.ladder td:last-child,
table.ladder td:nth-child(2),
table.ladder th:first-child,
table.ladder th:last-child,
table.ladder th:nth-child(2) {
    padding: inherit;
}

table.ladder td.streak {
    padding-right: 0;
}

table.ladder td.streak + td.streak {
    padding-right: inherit;
    padding-left: 0;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

[data-tooltip]:hover {
    position: relative;
    overflow: visible;
}

[data-tooltip]:hover::before {
    content: ""attr(data-tooltip)"";
    font-weight: normal;
    text-decoration: none;
    background-color: var(--dark);
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: .1rem;
    position: absolute;
    font-size: .8rem;
    z-index: 2;
    padding: 0 .2rem;
    height: .90rem;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

.inline-block {
    display: inline-block;
}

img.sudden-death {
    position: absolute;
    width: 6rem;
    bottom: -0.8rem;
}

.current-season {
    float: right;
    font-size: 1.3rem;
    z-index: 10;
    position: relative;
}

img.home {
    margin-top: -5rem;
}

ul.tabs {
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    padding: .3rem;
    background-color: var(--light);
}

ul.tabs > li {
    display: inline-block;
    margin: 0;
    padding: 0 .3rem;
    list-style: none;
}

ul.tabs > li:first-child {
    padding-left: 0;
}

ul.tabs > li::before {
    content: none;
}

ul.tabs > li.active {
    background-color: var(--tertiary);
}

ul.tabs > li.active a {
    color: var(--light);
}

.panel {
    border-top: .18rem solid #2e5e8f;
    background-color: var(--gray);
    padding: .2rem .4rem;
}

.panel > .title {
    font-size: 1.3rem;
    background-color: var(--tertiary);
    color: var(--light);
    padding: .5rem .4rem;
    margin: -.2rem -.4rem .4rem;
}

.map img {
    width: 100%;
}

.chat {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
    font-weight: bold;
    background-color: #000;
    color: #aaa;
    margin-bottom: .5rem;
    padding: .3rem .2rem;
    border: .1rem solid #aaa;
    border-radius: 2px;
    max-height: 25rem;
    overflow: scroll;
}

.chat .user::before {
    content: "["
}

.chat .user::after {
    content: "]"
}

.stats {
    border-radius: .25rem;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.stats .head {
    display: flex;
    justify-content: center;
    color: #fbfbfb;
    background-color: #1B2021;
    text-shadow: 0 0 .15rem #000;
    padding: .8rem 0;
    line-height: 1.1rem;
    margin: 0 0 1px 0;
    text-align: center;
}

.stats .head > div.user {
    flex-grow: 1;
}

.stats .head div.user > span.user {
    display: block;
    font-size: 1rem;
}

.stats .head div.user > span.team {
    display: block;
    font-size: .8rem;
}

.suddenDeath {
    display: flex;
    background-image: linear-gradient(to top, #323b7e 0, #323b7e 50%, #1B2021 50%, #1B2021 100%);
    padding: .8rem 0;
    margin-bottom: 1px;
    justify-content: stretch;
}

.suddenDeath img {
    flex-grow: 1;
    width: 100%;
}

.turn {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: .5rem 0;
    background: transparent;
    margin: 0 0 1px 0;
    align-items: center;
    min-height: 4rem;
}

.turn.lossOfControl {
    border: .2rem dotted red;
}

.small.lossOfControl {
    border: .1rem dotted red;
}

.kills {
    width: 44px;
    padding: 0 3px;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.turn .kills img {
    height: 2rem;
}

.turn .kills:first-child {
    text-align: left;
    }

.turn .kills:last-child {
    text-align: right;
}

.turn .kills:first-child img:not(:first-child) {
    margin-left: -8px;
}

.turn .kills:last-child img:not(:last-child) {
    margin-right: -8px;
}

.turn .kills:last-child img {
    transform: scale(-1, 1);
}

.weapon {
    display: inline-block;
    background-clip: padding-box;
    margin: .3rem;
    padding: .2rem;
    box-shadow: 0 0 .25rem #000;
}

