:root {
    --primary: #60b6c7;
    --secondary: #086071;
    --tertiary: #1f3f5e;
    --dark: #2e2e2e;
    --gray: #d1d1d1;
    --light: #ececec;
    --warn: #7d5f1e;
    --error: #5b2f3f;
    --success: #347673;

    --wa-green: #80FF80;
    --wa-blue: #9D9FFF;
    --wa-red: #FF7F7F;
    --wa-yellow: #FFFF80;
    --wa-cyan: #80FFFF;
    --wa-magenta: #FF82FF;
}

.text-primary {
    color: var(--primary);
}

.text-tertiary {
    color: var(--tertiary);
}

body, html {
    background: url('/public/img/checker_dark.png') repeat;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: var(--dark);
    padding: .2rem 0;
}

.top-bar .container {
    display: flex;
    justify-content: flex-end;
}

.top-bar input,
.top-bar button,
.top-bar input[type=submit],
.top-bar input[type=button] {
    text-align: center;
    font-size: .8rem;
}

.top-bar input {
    padding: .2rem;
}

.top-bar button,
.top-bar input[type=submit],
.top-bar input[type=button] {
    padding: .05rem .2rem;
}

.top-bar img {
    height: 2rem;
    margin-top: -.2rem;
    margin-bottom: -0.4rem;
}

.uber {
    margin: 0 auto;
    margin-left: 25%;
    height: 12rem;
}

.uber h1 {
    position: relative;
    color: #000;
    font-size: 5rem;
    letter-spacing: .2rem;
}

.uber h1 a {
    color: inherit;
}

.uber h1 a:active {
    color: inherit;
}

div.uber h1 .worm,
div.uber h1 .worms,
div.uber h1 .league {
    position: absolute;
}

div.uber h1 .worm {
    top: 6rem;
    left: 23.1rem;

}

div.uber h1 .league {
    top: 3.5rem;
    left: 5rem;
}

div.uber h1 .worms .first-letter,
div.uber h1 .league .first-letter {
    font-size: 7rem;
    text-shadow:
      -.3rem -.3rem .25rem var(--primary),
      -.3rem .3rem .25rem var(--primary),
      .3rem -.3rem .25rem var(--primary),
      .3rem .3rem .25rem var(--primary);
}

.container {
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    margin-top: -2.3rem;
}

nav.nav {
    display: flex;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

nav.nav .nav-item {
    flex-grow: 1;
    text-align: center;
    background: linear-gradient(#153940 30%, #348b9d);
    padding: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid #000;
    border-left: none;
    color: #fff;
    text-decoration: none;
}

nav.nav .nav-item:first-child {
    border-left: 1px solid #000;
}

nav.nav .nav-item:hover {
    background: linear-gradient(#fff, #46acc1);
    color: #1f3f5e;
}

nav.nav .nav-item:active,
nav.nav .nav-item.active {
    box-shadow: inset 0.1rem 0.1rem 0.5rem 0rem #000;
}

.head {
    border: 1px solid #000;
    border-top: 2px solid #316396;
    background-color: var(--tertiary);
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: .5rem 0;
    font-size: 1.2rem;
    margin: -1.2rem;
    margin-bottom: 1.2rem;
}

.page {
    border: 1px solid #000;
    background: rgba(220, 220, 220, .85);
    padding: 1.2rem;
    margin-bottom: 2.5rem;
}

button,
input[type=submit],
input[type=button] {
    background-color: var(--secondary);
    border-style: outset;
    border-color: var(--secondary);
    border-width: .3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding: .2rem .5rem;
}

button:active,
input[type=submit]:active,
input[type=button]:active {
    border-style: inset;
}

select,
input,
textarea,
zemke-tagbox::part(input) {
    background-color: #ececec;
    border: 1px #ececec inset;
    font-size: 1rem;
    padding: .3rem;
}

button:focus,
input:focus,
textarea:focus,
zemke-tagbox::part(input):focus {
    outline: none;
    box-shadow: 0rem 0rem .2rem .1rem var(--primary);
}

textarea {
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
}

a[name] {
    display: block;
    position: relative;
    top: -2.2rem;
    visibility: hidden;
}

a:hover {
    color: var(--tertiary);
}

a:active {
    color: #05404b;
}

label {
    display: block;
}
form div {
    margin-bottom: .7rem;
}

form .control {
    padding: .4rem 0;
}

form .control label {
    display: block;
    color: var(--tertiary);
}

p {
    margin: .5rem 0;
}

p.lead {
    color: var(--tertiary);
    padding: 1rem 0;
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-italic {
    font-style: italic;
}

.float-right {
    float: right;
}

.p0 {
    padding: 0;
}

.p1 {
    padding: .2rem;
}

.popup {
    display: none;
    position: absolute;
}

.popup.show {
    display: block;
}

ul {
    list-style: none;
    margin: 1rem 1rem;
}

ul li {
    padding: .1rem;
}

ul li::before {
    content: "\25a0";
    color: var(--tertiary);
    font-weight: bold;
    display: inline-block;
    width: 1.3em;
}

.monospace {
    font-family: monospace;
}

.small {
    font-size: .6rem;
}

.alert {
    position: relative;
    z-index: 99;
    border: .2rem solid var(--light);
    padding: .8rem;
    margin: 1rem 0;
    color: var(--light);
}

.alert.info {
    background-color: var(--tertiary);
}

.alert.success {
    background-color: var(--success);
}

.alert.warn {
    background-color: var(--warn);
}

.alert.error {
    background-color: var(--error);
}

.alert a {
    color: white;
    text-decoration: underline;
}

table thead tr {
    background-color: var(--tertiary);
    border-top: .18rem solid #2e5e8f;
    color: var(--light);
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    background-color: var(--gray);
}

table tbody tr:nth-child(even) {
    background-color: #a9a9a9;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 4rem;
}

table tr {
    border: 1px solid black;
}

table, tr, td, th {
    padding: .2rem .4rem;
    text-align: center;
}

table, tr, th {
    padding: .5rem .4rem;
}

.whitepad {
    padding: .3rem;
    background-color: var(--light);
}

.darkpad {
    padding: .3rem;
    background-color: var(--dark);
}

i.icon {
    font-style: normal;
}

i.replay {
    font-size: 1.2rem;
    font-weight: bold;
}

i.replay:before {
    content: "\2622";
}

i.comment {
    font-size: 1.2rem; font-weight: bold;
}

i.comment:before {
    content: "";
    display: block;
    position: relative;
    height: .7rem;
    width: .9rem;
    border: .1rem solid white;
    border-radius: .7rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

i.comment:after {
    content: "";
    display: block;
    position: relative;
    border: .1rem solid white;
    width: .02rem;
    height: .02rem;
    background-color: var(--light);
    left: .3rem;
    top: -.01rem;
    border-bottom-right-radius: .7rem;
    border-bottom-left-radius: .1rem;
}

button.void {
    background: transparent;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.dropdown-wrapper {
    position: relative;
}

.dropdown {
    position: absolute;
    background: #fff;
    top: 1.6rem;
    right: 0;
    display: none;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 0.5rem 0.5rem 2rem var(--dark);
}

.dropdown::before {
    content: "";
    position: absolute;
    display: block;
    border: .5rem transparent solid;
    border-bottom-color: white;
    top: -1rem;
    right: 0rem;
    height: 0;
    width: 0;
}

.dropdown > a {
    display: block;
    border-bottom: 1px solid var(--light);
    padding: .5rem 1.5rem;
    white-space: nowrap;
}

.dropdown a:hover {
    background-color: var(--secondary);
    color: var(--light);
    text-decoration: none;
    border-bottom-color: var(--secondary);
}

.dropdown.active {
    display: block;
}

table.matches .texture {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: .5rem;
}

table.matches .texture > img {
    vertical-align: middle;
    transform: scale(1.1);
}

table.matches td {
    white-space: nowrap;
}

table img {
    height: 2rem;
}

table.matches .processing {
    border-radius: .2rem;
    width: 3.6rem;
    height: 1.9rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

table.matches .processing > img {
    vertical-align: middle;
    transform: scale(1.2) translateX(-.4rem);
}

table.matches td {
    padding: .2rem .3rem;
}

table.matches .ministat {
    letter-spacing: -.15rem;
}

table.matches td:nth-child(4) {
    padding-left: 0;
    padding-right: 0;
}

.letter-spacing-compressed {
    letter-spacing: -.05rem;
}

div.color-badge {
    display: inline-block;
    height: 2rem;
    width: 1.2rem;
    vertical-align: top;
    border-radius: 0.2rem;
    border: 1px solid gray;
}

div.color-badge.green {
    background-color: var(--wa-green);
}

div.color-badge.blue {
    background-color: var(--wa-blue);
}

div.color-badge.red {
    background-color: var(--wa-red);
}

div.color-badge.yellow {
    background-color: var(--wa-yellow);
}

div.color-badge.cyan {
    background-color: var(--wa-cyan);
}

div.color-badge.magenta {
    background-color: var(--wa-magenta);
}

div.color-badge {
    background-color: var(--light);
}

.text-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.w100 {
    width: 100%;
}

.recent {
    display: inline-block;
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    background-color: var(--dark);
}

.recent.draw {
    background-color: var(--dark);
    border: .1rem solid var(--dark);
}

.recent.lost {
    background-color: red;
    border: .1rem solid red;
}

.recent.won {
    background-color: green;
    border: .1rem solid green;
}

.recent.unranked {
    background-color: transparent;
}

.nowrap {
    white-space: nowrap;
}

table.ladder thead tr:nth-child(1) th {
    text-align: center;
}

table.ladder tbody tr.user {
    background-color: white;
}

table.ladder thead tr:nth-child(1) th:nth-child(1),
table.ladder thead tr:nth-child(2) th:nth-child(3),
table.ladder tbody td:nth-child(3),

table.ladder thead tr:nth-child(1) th:nth-child(2),
table.ladder thead tr:nth-child(2) th:nth-child(6),
table.ladder tbody td:nth-child(8),

table.ladder thead tr:nth-child(1) th:nth-child(3),
table.ladder thead tr:nth-child(2) th:nth-child(10),
table.ladder tbody td:nth-child(15) {
    border-right: 1px solid rgba(0, 0, 0, .2);
}

table.ladder tbody td:nth-child(4),
table.ladder tbody td:nth-child(6),
table.ladder tbody td:nth-child(9),
table.ladder tbody td:nth-child(11) {
    padding-right: .1rem;
}

table.ladder tbody td:nth-child(5),
table.ladder tbody td:nth-child(7),
table.ladder tbody td:nth-child(10),
table.ladder tbody td:nth-child(12) {
    padding-left: .1rem;
}

table.ladder thead tr:last-child th:nth-child(10) {
    padding-right: .1rem;
}

table.ladder thead tr:first-child {
    border-bottom: none;
}

table.ladder thead tr:nth-child(2) {
    border-top: none;
}

table.ladder th {
    font-size: .8rem;
    padding-left: 0;
    padding-right: 0;
}

table.ladder td {
    white-space: nowrap;
    font-family: monospace;
}

table.ladder td:nth-child(2),
table.ladder td:last-child {
    font-family: inherit;
}

table.ladder td:last-child {
    letter-spacing: -.2rem;
}

table.ladder td,
table.ladder th {
    padding-left: .9rem;
    padding-right: .9rem;
}

table.ladder td:first-child,
table.ladder td:last-child,
table.ladder td:nth-child(2),
table.ladder th:first-child,
table.ladder th:last-child,
table.ladder th:nth-child(2) {
    padding: inherit;
}

table.ladder td.streak {
    padding-right: 0;
}

table.ladder td.streak + td.streak {
    padding-right: inherit;
    padding-left: 0;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

[data-tooltip]:hover {
    position: relative;
    overflow: visible;
}

[data-tooltip]::before {
    content: "";
    transition: opacity .15s linear;
    opacity: 0;
    display: none;
}

[data-tooltip]:hover::before {
    content: ""attr(data-tooltip)"";
    font-weight: normal;
    text-decoration: none;
    background-color: var(--dark);
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: .1rem;
    position: absolute;
    font-size: .8rem;
    z-index: 2;
    padding: 0 .2rem;
    height: .90rem;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    line-height: normal;
    opacity: 1;
    letter-spacing: initial;
    font-style: normal;
    display: inline-block;
}

.inline-block {
    display: inline-block;
}

img.sudden-death {
    position: absolute;
    width: 6rem;
    bottom: -0.8rem;
}

.current-season {
    float: right;
    font-size: 1.3rem;
    z-index: 10;
    position: relative;
}

img.home {
    margin-top: -5rem;
}

ul.tabs {
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    padding: .3rem;
    background-color: var(--light);
}

ul.tabs > li {
    display: inline-block;
    margin: 0;
    padding: 0 .3rem;
    list-style: none;
}

ul.tabs > li:first-child {
    padding-left: 0;
}

ul.tabs > li::before {
    content: none;
}

ul.tabs > li.active {
    background-color: var(--tertiary);
}

ul.tabs > li.active a {
    color: var(--light);
}

.panel {
    border-top: .18rem solid #2e5e8f;
    background-color: var(--gray);
    padding: .2rem .4rem;
}

.panel > .title {
    font-size: 1.3rem;
    background-color: var(--tertiary);
    color: var(--light);
    padding: .5rem .4rem;
    margin: -.2rem -.4rem .4rem;
}

.map img {
    width: 100%;
}

.chat {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
    font-weight: bold;
    background-color: #000;
    color: #aaa;
    padding: .3rem .2rem .4rem;
    max-height: 21.5rem;
    overflow: scroll;
}

.chat .user::before {
    content: "["
}

.chat .user::after {
    content: "]"
}

.stats {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.stats .top {
    display: flex;
    justify-content: center;
    color: #fbfbfb;
    background-color: var(--dark);
    text-shadow: 0 0 .15rem #000;
    padding: .8rem 0;
    line-height: 1.1rem;
    margin: 0 0 1px 0;
    text-align: center;
}

.stats .top > div.user {
    flex-grow: 1;
}

.stats .top div.user > span.user {
    display: block;
    font-size: 1rem;
}

.stats .top div.user > span.team {
    display: block;
    font-size: .8rem;
}

.suddenDeath {
    display: flex;
    background-image: linear-gradient(to top, #323b7e 0, #323b7e 50%, var(--dark) 50%, var(--dark) 100%);
    padding: .8rem 0;
    margin-bottom: 1px;
    justify-content: stretch;
}

.suddenDeath img {
    flex-grow: 1;
    width: 100%;
}

.turn {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: .5rem 0;
    background: transparent;
    margin: 0 0 1px 0;
    align-items: center;
    min-height: 3rem;
}

.turn.lossOfControl {
    border: .2rem dotted red;
}

.small.lossOfControl {
    border: .1rem dotted red;
}

.kills {
    width: 44px;
    padding: 0 3px;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.turn .kills img {
    height: 2rem;
}

.turn .kills:first-child {
    text-align: left;
    }

.turn .kills:last-child {
    text-align: right;
}

.turn .kills:first-child img:not(:first-child) {
    margin-left: -.9rem;
}

.turn .kills:last-child img:not(:last-child) {
    margin-right: -.9rem;
}

.turn .kills:last-child img {
    transform: scale(-1, 1);
}

.weapons {
    text-align: center;
    line-height: 1.8rem;
}

.weapon {
    display: inline-block;
    background-clip: padding-box;
    margin: 0.1rem;
    padding: 0.2rem;
    box-shadow: 0 0 .25rem #000;
}

.weapon, .weapon img {
    height: 2rem;
}

.stats .blue { background-color: var(--wa-blue); }
.stats .red { background-color: var(--wa-red); }
.stats .green { background-color: var(--wa-green); }
.stats .yellow { background-color: var(--wa-yellow); }
.stats .cyan { background-color: var(--wa-cyan); }
.stats .magenta { background-color: var(--wa-magenta); }

.gotocomments {
    text-align: right;
}

.gotocomments img {
    height: 2.2rem;
    margin-left: -1.5rem;
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
    color: var(--light);
}

.comments > div {
    padding: 1rem;
}

.comments a {
    display: inline-block;
    margin-bottom: .2rem;
}

.comments > div:nth-child(odd) {
    background-color: var(--gray);
}

.comments > div:nth-child(even) {
    background-color: #a9a9a9;
}

.comments div p {
    margin-top: .3rem;
}

.replays {
    float: right;
    margin-top: -.4rem;
    margin-bottom: -1rem;
}

.replays img {
    height: 2rem;
    margin-left: .1rem;
}

table.archive tr td:first-child {
   width: 23%;
   white-space: nowrap;
   padding-right: 0;
}

table.archive tr td:nth-child(2) {
   width: 10%;
   white-space: nowrap;
   padding-left: 0;
}

table.archive tr td:nth-child(3) {
   width: 33%;
}

table.archive td {
   white-space: nowrap;
}

p.prelude {
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--light);
    margin: 0 -1.2rem 1rem;
    padding: 2rem 6.2rem;
}

.shrink {
    width: 719px;
    margin: 0 auto;
}

#shoutbox {
    margin: 1rem 0 1.5rem;
}

#shoutbox form {
    display: flex;
    align-items: center;
}

#shoutbox zemke-tagbox {
    width: 100%;
    padding-right: .2rem;
}

zemke-tagbox::part(tag) {
    background-color: rgb(8, 96, 113, .35);
}

#shoutbox #messages {
    margin-top: .3rem;
}

#shoutbox #messages .message {
    margin: .4rem 0;
}

a[name=shoutbox] {
    margin-top: 5rem;
}

