{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('app_login') }}" method="POST">
    <input type="text" name="usernameOrEmail" id="usernameOrEmail" placeholder="Username or email" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Log in</button>
</form>

{% endblock %}
